html,
body { height: 100%; }

body {
  border-top: 5px solid #690;
  overflow-y: scroll;
  max-width: 100%;
}

a { color: #690; }

h1 {
  font-weight: bold;
  padding-top: 20px;
}

.container {
  max-width: 978px;
  min-height:100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -195px;
}

.header {
  height: 100px;
  margin-top: 40px;
}

.header h1 {
  background: transparent url('../images/phpSmug-logo.svg') no-repeat scroll 0 -18px;
  text-indent: -9999px;
  height: 60px;
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
  margin-left: -60px;
  width: 330px;
}

.header a:hover { color: #690; }

.main_content { font-size: 20px; }

.cover p { text-align:center; }

.main-nav { margin-top: 10px; }
.main-nav li { margin-right: 10px; }

.main-nav a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus { background-color: #690; }

.intro {
  font-size: 3.2em;
  text-align: center;
  padding-bottom: 40px;
}

.docs-nav { font-size: 15px; }

.docs-nav li {
  padding-left: 5px;
  border-left: 2px solid #fff;
}
.docs-nav > li > a { padding: 0px; }
.docs-nav > li >a:hover,
.docs-nav > li >a:focus { background-color: #fff; }

.docs-nav > li > a.to-top {
  padding-top: 10px;
  font-size: 13px;
}

.docs-nav > li.active { border-left: 2px solid #ccc; }
.docs-nav > li.active a { color: #2a6496; }

#sidebar.affix-top {
  position: static;
  width: 100%;
}

#sidebar.affix {
  position: fixed;
  top:45px;
  width: 100%;
}

.affix,
.affix-top { position:static; }

article { padding-bottom: 30px; }

.post-meta {
  margin-top: -10px;
  margin-bottom: 20px;
}

.post-date {
  margin-right: 15px;
}

.post-date, .post-author {
  color: #ccc;
  font-size: 14px;
}

.avatar {
  width: 24px;
  height: 24px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.dwn-btns { padding: 20px 0; }

/*---:[ Footer Collage ]:---*/

#push { height: 195px; }

footer {
  margin: 0;
  padding: 0;
  height: 195px;
  max-height: 195px;
  overflow-x: hidden;
}

/*-- collage inspired by that at http://cssdeck.com/labs/collage --*/
#collage {
  width: 100%;
	margin-top: 100px;
  text-align: center;
}

#collage a {
  display: inline-block;
  position: relative;
  max-width: 220px;
  padding: 10px;
  background-color:rgb(255,255,255);
  margin-left: -75px;

  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg);
  -moz-transform:rotate(-7deg);
  -webkit-transform:rotate(-7deg);
  -o-transform:rotate(-7deg);

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;

	/*** Fix for Webkit to resolve the flickering issue
       Suggested by erikhatfield ***/
	-webkit-transform-style: preserve-3d;
  -moz-box-shadow:1px 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.2);
  box-shadow:1px 1px 3px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#33000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#33000000,Positive=true);
}

#collage a:first-child { margin-left: 0px; }

#collage a:nth-child(1n) {
  transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -webkit-transform:rotate(7deg);
  -o-transform:rotate(7deg);
}

#collage a:nth-child(2n) {
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -webkit-transform:rotate(-15deg);
  -o-transform:rotate(-15deg);
}


#collage a img {
  max-width: 100%;
  max-height: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

#collage a:hover {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#collage a:hover > img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
