  <div class="col-md-3">
    <div id="sidebar" data-spy="affix" data-offset-top="100" class="hidden-xs hidden-sm">
      <ul class="nav docs-nav">
        <li class="active"><a href="#requirements">Requirements</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#basic-usage">Basic Usage</a></li>
        <li><a href="#more-in-depth-usage-details">More In depth Usage Details</a></li>
        <li><a href="#authentication">Authentication</a></li>
        <li><a href="#display-private-images">Display Private Images</a></li>
        <li><a href="#uploading">Uploading</a></li>
        <li><a href="#replacing-photos">Replacing Photos</a></li>
        <li><a href="#other-notes">Other Notes</a></li>
        <li><a href="#caching-api-responses">Caching API Responses</a></li>
        <li><a href="#access-smugmug-via-a-proxy">Access SmugMug via a Proxy</a></li>
        <li><a href="#examples">Examples</a></li>
        <li><a href="#top" class="to-top">Back to top</a></li>
      </ul>
    </div>
  </div>
