<div id="push"></div>
</div> <!-- /container -->
<footer>
  <div id="collage">
    <a href="http://lordv.smugmug.com/Macrophotography/Printable-Macros/2305526_mh3cDD/120917883_X69vGwD" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Macrophotography/Printable-Macros/i-X69vGwD/0/S/IMG_3755sa-S.jpg" title="Copyright © Lordv Macros" width="200" height="100"></a>

    <a href="http://atomicfish.smugmug.com/Competitions/2005-Western-Fair-Photo-1/i-cdKmpWg" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Competitions/2005-Western-Fair-Photo-1/i-cdKmpWg/2/O/P1060695-1.jpg" title="Copyright © Jeff Kleber (atomicfish)" width="200" height="100"></a>

    <a href="http://jmelanson.smugmug.com/Newest-Shots/Newest-Shots/i-pz23cZt" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Newest-Shots/Newest-Shots/i-pz23cZt/0/O/JODY2139.jpg" title="Copyright © Jody Melanson" width="200" height="100"></a>

    <a href="http://cmac.smugmug.com/SmugMug/Marketing-shots/Retired-Home-Page-Slide-Show/i-BJmFtZ6" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/SmugMug/Marketing-shots/Retired-Home-Page-Slide-Show/i-BJmFtZ6/1/S/P602_1600-1-S.jpg" title="Copyright © Chris MacAskill (Baldy)" width="200" height="100"></a>

    <a href="http://stuckincustoms.smugmug.com/Portfolio/i-r69c4Dw" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Portfolio/i-r69c4Dw/1/S/2035748576_c051526ca4_o-S.jpg" title="Copyright © Trey Ratcliff" width="200" height="100"></a>

    <a href="http://tylwydd.smugmug.com/Photography/Daily-photos/i-gZ5jVkH" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Photography/Daily-photos/i-gZ5jVkH/5/S/P3283754_1-S.jpg" title="Copyright © Tylwydd Photo" width="200" height="100"></a>

    <a href="http://ken.smugmug.com/Birds/Upload/1877107_tV6hh6/247038552_VmmGbwQ" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Birds/Upload/i-VmmGbwQ/1/S/Harris%20Hawk-S.jpg" title="Copyright © Ken (sorry, couldn't find any other details)" width="200" height="100"></a>

    <a href="http://www.jmjstudios.net/Daily-Photos/Old-2010/i-jNQ8rfK" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Daily-Photos/Old-2010/i-jNQ8rfK/0/S/orchid-1-1502-S.jpg" title="Copyright © John Murphy Photography" width="200" height="100"></a>

    <a href="http://stuckincustoms.smugmug.com/Portfolio/i-gfXcQf9" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Portfolio/i-gfXcQf9/0/S/The%20Forbidden%20Corner%20-%20texture-S.jpg" title="Copyright © Trey Ratcliff" width="200" height="100"></a>

    <a href="http://stuckincustoms.smugmug.com/Portfolio/i-qSv7Fjf" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/Portfolio/i-qSv7Fjf/0/S/2336220351_9cfe9c36fa_o-S.jpg" title="Copyright © Trey Ratcliff" width="200" height="100"></a>

    <a href="http://cmac.smugmug.com/SmugMug/Marketing-shots/Retired-Home-Page-Slide-Show/i-Lkb3sJK" title="Visit Photo Page" target="_blank">
    <img src="http://photos.smugmug.com/SmugMug/Marketing-shots/Retired-Home-Page-Slide-Show/i-Lkb3sJK/0/S/Todler%20and%20dog-S.jpg" title="Copyright © Chris MacAskill (Baldy)" width="200" height="100"></a>

  </div>
</footer>
</body>
</html>
