</section>

<aside id="sidebar">
	<a href="https://github.com/lildude/phpSmug/archive/3.5.zip" class="button">
		<small>Download</small>
		.zip file
	</a>
	<a href="https://github.com/lildude/phpSmug/archive/3.5.tar.gz" class="button">
		<small>Download</small>
		.tar.gz file
	</a>

	<a href="https://github.com/lildude/phpSmug" class="button">
		<small>View project on</small>GitHub</a>


	<p class="repo-owner">Maintained by <a href="https://github.com/lildude">lildude</a>.</p>

</aside>
</div>
</div>

</body>
</html>
