<div id="push"></div>
</div> <!-- /container -->
<footer>
  <div id="collage">
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629358792&k=Sbc6PQ2" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-Sbc6PQ2/1/S/20130119-098-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629358909&k=T5jkjxG" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-T5jkjxG/1/S/20130119-131-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629354014&k=cwTLJk4" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-cwTLJk4/1/S/20120324-004-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629358690&k=Dmd9JWs" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-Dmd9JWs/1/S/20130119-093-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629358154&k=RXzQqd9" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-RXzQqd9/1/S/20130119-085-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629357094&k=BDPp5GF" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-BDPp5GF/1/S/20120324-060-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629358258&k=x32db5x" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-x32db5x/1/S/20130119-070-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629356737&k=nRnW7wQ" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-nRnW7wQ/1/S/20120324-052-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629354217&k=MXhRnPX" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-MXhRnPX/1/S/20120324-002-by-ivan%20makarov-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629359289&k=sqV5V4s" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-sqV5V4s/1/S/new%20moon%20over%20san%20francisco%2C%20b%26w-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>
    <a href="http://demo.smugmug.com/Other/Homepage-Slideshow/30492523_RVQx3S#!i=2629359287&k=4kWktVJ" title="Visit Photo Page" target="_blank">
      <img src="http://demo.smugmug.com/Other/Homepage-Slideshow/i-4kWktVJ/1/S/profile%20of%20san%20francisco-S.jpg" title="Copyright © SmugMug and it's friends" width="200" height="100"></a>

  </div>
</footer>
</body>
</html>
