{% include header.html %}
      <div class="main_content">
        <article>
          <h2>
            <a href="{{ page.url }}">
              {{ page.title }}
            </a>
          </h2>
          <div class="post-meta">
            <span class="post-category">
              {% for category in page.categories %}
              <span class="label label-primary">{{ category }}</span>
              {% endfor %}
            </span>
            <span class="post-date">
              {{ page.date | date: "%A, %d %b %Y" }}
            </span>
            <a href="https://github.com/{{ page.author }}" class="post-author">
              <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }}"/>
              {{ page.author }}
            </a>
          </div>
          <div class="post-content">
            {{ content }}
          </div>
        </article>
      </div>
  {% include footer.html %}
